*.txt
*.png
*~
*.sqlite
*.json
*.pyc
.svn
iterate.dat
mortality.csv
local_settings.py
public/fig*.png
public/simulation_study_out.csv
covariate_data_server/*.csv
covariate_data_server/*.dta
book/artifacts
book/output*
book/logs
