test_*.txt
*.png
*.pdf
*~
*.sqlite
*.json
*.pyc
.svn
iterate.dat
mortality.csv
local_settings.py
public/fig*.png
public/simulation_study_out.csv
covariate_data_server/*.csv
covariate_data_server/*.dta
book/artifacts
book/output*
book/logs
book/lib
*.log
*.aux
book/*.bbl
book/*.blg
book/*.out
book/*.toc
book/*.bak
book/*.dvi
book/*.lot
book/*.lof
*.csv
*#
