{% extends "base.html" %}

{% block title %}Rate{% endblock %}

{% block content %}
<div style="float:left; padding-right:1em;">
<h1>Rate {{obj.id}}</h1>
<table>
{% for label, value in obj.view_list %}
<tr class="{% cycle 'odd' 'even' %}">
<td><b>{{ label }}</b>:</td><td><i>{{ value }}</i></td>
</tr>
{% endfor %}
</table>
</div>

<div>
<h1>Additional Information</h1>
<table>
{% for key, value in obj.params.items %}
<tr class="{% cycle 'odd' 'even' %}">
<td>{{ key }}</td><td>{{ value }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}

{% block sidebar %}
<a href="/admin/new_dm3/data/">Data</a>
<br>
<a href="/admin/new_dm3/diseasemodel/">Disease Models</a>
{% endblock %}
