{% extends "base.html" %}

{% block title %}Age-Specific Rate Function Comparison{% endblock %}

{% block content %}

<div style="float: left;">

<img src="{% url dismod3.views.age_specific_rate_function_compare id_str, "png" %}">
<br />
<a href="{% url dismod3.views.age_specific_rate_function_compare id_str, "pdf" %}?size=full_page">[pdf]</a>

<br/>
<table>
<tr class='even'><th>ID</th><th>Description</th><th>Notes</th><th>Controls</th></tr>
{% for rf in asrfs %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ rf.id }}</td>
    <td>{{ rf }}</td>
    <td>{{ rf.notes }}</td>
    <td>[<a href="{% url dismod3.views.age_specific_rate_function_show rf.id %}">show</a>],
        [<a href="{% url dismod3.views.age_specific_rate_function_clone rf.id %}">clone</a>]
    </td>
  </tr>
{% endfor %}
</table>
</div>

<div>
<h2>Scatter Comparison</h2>
<img src="{% url dismod3.views.age_specific_rate_function_compare id_str, "png" %}?size=small&style=scatter">
<br />
<a href="{% url dismod3.views.age_specific_rate_function_compare id_str, "pdf" %}?size=full_page&style=scatter">[pdf]</a>

<br />

<h2>Stacked Comparison</h2>
<img src="{% url dismod3.views.age_specific_rate_function_compare id_str, "png" %}?size=small&style=stack">
<br />
<a href="{% url dismod3.views.age_specific_rate_function_compare id_str, "pdf" %}?size=full_page&style=stack">[pdf]</a>


<h2>Parallel Comparison</h2>
<img src="{% url dismod3.views.age_specific_rate_function_compare id_str, "png" %}?size=small&style=parallel">
<br />
<a href="{% url dismod3.views.age_specific_rate_function_compare id_str, "pdf" %}?size=full_page&style=parallel">[pdf]</a>

</div>

{% include "age_specific_rate_function/_comparisons.html" %}
{% endblock %}

{% block sidebar_extra %}
{% include "controls.html" %}
{% endblock %}
