<div>
<table>
<tr class='even'><th> ID </th> <th>Name</th> <th>Date</th> <th>Notes</th> <th>Creator</th></tr>
{% for dm in paginated_models.object_list %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>
      <a href="{% url gbd.dismod_data_server.views.dismod_show dm.id %}">{{ dm.id }}</a>
    </td>
    <td>
      <a href="{% url gbd.dismod_data_server.views.dismod_summary dm.id %}">{{ dm }}</a>
    </td>
    <td></td>
    <td></td>
    <td>
    {{ dm.creator }}
    </td>
  </tr>
{% endfor %}
</table>
</div>
