<li><a href="/">Home</a></li>
<li><a href="/dismod/data/upload/">Input New</a></li>
<li><a href="/dismod/show/">View/Modify</a></li>
<li><a href="/dismod/compare/">Compare</a></li>
<li><a href="/public">Documentation</a></li>


{% if dm %}
<br>
<h3>Model {{ dm.id }}:</h3>
<li><a href="/dismod/summary/{{dm.id}}">Summary</a></li>
<li><a href="/dismod/show/{{dm.id}}">Show Full Data</a></li>
<li><a href="/dismod/emp_priors/{{dm.id}}">View Empirical Priors</a></li>
<li><a href="/dismod/data/upload/{{dm.id}}">Add Data</a></li>
<li><a href="/dismod/adjust_priors/{{dm.id}}">Adjust Priors</a></li>
<li><a href="/dismod/set_covariates/{{dm.id}}">Set Covariates</a></li>
<li><a href="/dismod/run/{{dm.id}}">Run</a></li>
<li><a href="/dismod/compare/?id1={{dm.id}}">Compare</a></li>
<li><a href="/dismod/export/{{dm.id}}">Export</a></li>
<br>
{% endif %}

<li><a href="/admin/">Admin</a></li>
<br>
<br><br><br><br>
<br>
