<li><a href="/dismod/data/upload/">Input New Model</a></li>
<li><a href="/dismod/show/">Open Existing Model</a></li>
<li><a href="/dismod/compare/">Compare Two Models</a></li>
<li><a href="/covariate/type/">Show Covariate Types</a></li>

{% if dm %}
<br>
<h3>Model {{ dm.id }}:</h3>
<h4>View:</h4>
<li><a href="/dismod/summary/{{dm.id}}">Summary</a></li>
<li><a href="/dismod/show/{{dm.id}}">Full Data</a></li>
<li><a href="/dismod/emp_priors/{{dm.id}}">Empirical Priors</a></li>
<li><a href="/dismod/compare/?id1={{dm.id}}">Comparison</a></li>
<li><a href="/dismod/export/{{dm.id}}">Export</a></li>
<h4>Modify:</h4>
<li><a href="/dismod/data/upload/{{dm.id}}">Add Additional Data</a></li>
<li><a href="/dismod/adjust_priors/{{dm.id}}">Adjust Expert Priors</a></li>
<li><a href="/dismod/set_covariates/{{dm.id}}">Change Covariates</a></li>
<li><a href="/dismod/run/{{dm.id}}">Estimate Parameters</a></li>
<br>
{% endif %}

<br>
<br><br><br><br>
<br>
