{% extends "base.html" %}

{% block title %}Covariate {{ ct }}{% endblock %}

{% block content %}

<div>
<h1>Covariate {{ ct }}:
</h1>

<div id="tables">
<table>
<tr class='even'><th> ID </th> <th>Name</th> <th>Value</th>
{% for c in ct.covariate_set.all %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>
      {{ c.id }}.
    </td>
    <td>
      <a href="{{ c.get_absolute_url }}">{{ c }}</a>
    </td>
    <td>{{ c.value }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
