{% extends "base.html" %}

{% block title %}Covariate {{ ct }}{% endblock %}

{% block content %}

<div>
</div>

<div id="tables">
<table>
<tr class='even'><th>Covariate</td><th>Country</th><th>Sex</th><th></th></tr>
{% for c in paginated_models.object_list %}
  <tr class="{% cycle 'odd' 'even' %}">
  <td> {{ ct }}</td>
    <td>
      {{ c.iso3 }}
    </td>
    <td>
      {{ c.sex }}
    </td>
    <td>
      <a href="../show/{{ ct }}+{{ c.iso3 }}+{{ c.sex }}.png">show</a>
    </td>
  </tr>
{% endfor %}
</table>
{% include "_paginate_models.html" %}

</div>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
