{% extends "base.html" %}

{% block title %}Covariate Type List{% endblock %}

{% block content %}

<div>
</div>
<a href="../upload/">Upload a covariate file</a>
<div id="tables">
<table>
<tr class='even'>
  <th>ID</th>
  <th>Type</th>
  <th>Uploader's Username</th>
  <th>Uploading Time</th>
  <th>Source</th>
  <th>Last Modified Time</th>
  <th>Year Range</th>
  <th>region Only</th>
  <th>Notes</th>
</tr>

{% for c in ct %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="../summary/{{ c.id }}">{{ c.id }}</a></td>
    <td><a href="../datacount/{{ c.id }}">{{ c.slug }}</a></td>
    <td>{{ c.uploader }}</td>
    <td>{{ c.upload_time }}</td>
    <td>{{ c.source }}</td>
    <td>{{ c.last_modified_time }}</td>
    <td>{{ c.year_start }}-{{ c.year_end }}</td>
    <td>{{ c.region_only }}</td>
    <td><a href="../notes/{{ c.id }}">show</a></td>
  </tr>
{% endfor %}
</table>

</div>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}

