{% extends "base.html" %}

{% block title %}Covariate {{ ct }}{% endblock %}

{% block content %}

<div>
</div>
{% if error %}
    <p style="color: red;">{{error}}</p>
{% endif %}
<div id="tables">
<table>
<tr class='even'><th>Covariate</td><th>{{ level }}</th><th>Data Count</th><th>Data Value</th></tr>

{% for c in paginated_models.object_list %}
  <tr class="{% cycle 'odd' 'even' %}">
     <td> 
      {{ ct }}
    </td>
    <td>
    {% ifequal level "region" %}
      {{ c.region }}
    {% endifequal %}
    {% ifequal level "country" %}
      {{ c.iso3 }}
    {% endifequal %}
    </td>
    <td {{ c.color }}>
      {{ c.count }}
    </td>
    <td>
    {% ifequal level "region" %}
      <a href="../show/{{ ct }}+{{ c.clean_region }}.png">show</a>
    {% endifequal %}
    {% ifequal level "country" %}
      <a href="../show/{{ ct }}+{{ c.iso3 }}.png">show</a>
    {% endifequal %}
    </td>
  </tr>
{% endfor %}
</table>
{% include "_paginate_models.html" %}

</div>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
