<html>
<head>
<link rel="stylesheet" href="/public/dismod.css" type="text/css" />

<style type="text/css">

table {
	border-collapse: collapse;
	margin: 10px;	
	font: 10px "Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif/*Verdana, Tahoma, arial, sans-serif*/;
	}

body {
text-align:left;
background:#fff;
}
tr.odd {
	background:#fff}
</style>
</head>
<body>


{% block content %}
<div style="float:left; padding-right:1em;">
<h1>Rate {{obj.id}}</h1>
<table>
{% for label, value in obj.view_list %}
<tr class="{% cycle 'odd' 'even' %}">
<td><b>{{ label }}</b>:</td><td><i>{{ value }}</i></td>
</tr>
{% endfor %}
</table>
</div>

<div>
<h1>Additional Information</h1>
<table>
{% for key, value in obj.params.items %}
<tr class="{% cycle 'odd' 'even' %}">
<td>{{ key }}</td><td>{{ value }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}


</body>
</html>