{% extends "base.html" %}

{% block title %}Upload New Data{% endblock %}

{% block content %}

{% if dm %}
  <h1>Add data to <a href="../../show/{{dm.condition}}">{{dm.condition}} (id {{dm.id}})</a></h1>
{% else %}
  <h1>Created new model</h1>
{% endif %}

<form method="POST" enctype="multipart/form-data" action="" >
  <div class="fieldWrapper">
    {{ form.tab_separated_values.errors }}
    <label for="id_subject">Tab Separated Values:</label><br />
    {{ form.tab_separated_values }}<br />
    {{ form.tab_separated_values.help_text|safe }}<br /><br />
  </div>
  <div class="fieldWrapper">
    {{ form.file.errors }}
    <label for="id_subject">or select a file:</label><br />
    {{ form.file }}<br />
  </div>
  <div class="fieldWrapper">
  <input type="submit" value={% if dm %}"Add"{% else %}"Create"{% endif %} />
  </div>
</form>

{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}

