{% extends "base.html" %}

{% block title %}Upload New Data{% endblock %}

{% block content %}

{% if dm %}
  <h1>Add this data to model for <a href="../../show/{{dm.condition}}">{{dm.condition}} ({{dm.id}})</a>:</h1>
{% else %}
  <h1>Created new model with this data:</h1>
{% endif %}

<form action="" method="POST">
  <div class="fieldWrapper">
    {{ form.tab_separated_values.errors }}
    <label for="id_subject">Tab Separated Values:</label><br />
    {{ form.tab_separated_values }}<br />
    {{ form.tab_separated_values.help_text|safe }}<br /><br />
  </div>
  <input type="submit" value="Create" />
</form>

{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}

