{% extends "base.html" %}

{% block title %}DisMod III (alpha){% endblock %}
{% block content %}

<h1>Welcome to DisMod 3</h1>

<p>To begin, simply select from the following three options:</p>

<p>
<a class="big_link" href="dismod/data/upload/">Input</a> a new model.
<br />
<br />
<a class="big_link" href="dismod/show/">Modify</a> an existing model.
<br />
<br />
<a class="big_link" href="dismod/show/?format=csv">Output</a> an existing model in csv format.
</p>
{% endblock %}

{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
