{% extends "base.html" %}

{% block title %}{% if dm2 %}Disease Model Comparison {{ dm1 }} {{ dm2}}{% else %}Empirical Priors{% endif %}{% endblock %}

{% block content %}

<h1>{{ page_description }} Model #{{ dm.id }}: {{ dm }} </h1>

<p>
Download empirical priors as <a href="{{ dm.id }}.csv">.csv</a>.
</p>


<img src="alpha_{{ dm.id }}.png">
<img src="beta_{{ dm.id }}.png">
<img src="gamma_{{ dm.id }}.png">
<img src="delta_{{ dm.id }}.png">
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
