{% extends "base.html" %}

{% block title %}Adjust Model Parameters{% endblock %}

{% block content %}

<h1>Adjust parameters for {{ dm.condition }}:</h1>

        <applet width="1000" height="350" codebase="../../public/" code="uw.ihme.dismod.AdjustParam" archive="Prior.jar">
            <param name="id" value="{{dm.id}}"/>
            <param name="sessionid" value="{{sessionid}}"/>
		<param name="global_priors_json" value="{{ global_priors.0.json|escape }}"/>
        </applet>
        <!-- Or use the following script element to launch with the Deployment Toolkit -->
        <!-- Open the deployJava.js script to view its documentation -->
        <!--
        <script src="http://java.com/js/deployJava.js"></script>
        <script>
            var attributes = {
                codebase:   [applet codebase],
                code:       [class to launch],
                archive:    [JAR file with the applet],
                width:      [applet width],
                height:     [applet height]
            };
            var parameters = { [applet parameters] };
            var version = [JDK version];
            deployJava.runApplet(attributes, parameters, version);
        </script>
        -->

<div>
<img style="width: 100%;" src="/dismod/show/tile_{{ dm.id }}_{{ dm.condition }}+all+all+all+all.png" />
</div>
{% endblock %}


{% block sidebar_wrapper %}
{% endblock %}

