{% extends "base.html" %}

{% block title %}Disease Model Comparison{% endblock %}

{% block content %}
<form method="get">
Model ID 1:
<input type="text" name="id1" value="{{ id1 }}"/>
<br />
Model ID 2:
<input type="text" name="id2" value="{{ id2 }}" />
<br/>
<input type="submit" value="Submit" />
</form>

<div>
<h1>Model #<a href="/dismod/summary/{{id1}}">{{ id1 }}</a> vs #<a href="/dismod/summary/{{id2}}">{{ id2 }}</a>:</h1>
<br/>
<h1>
Empirical Priors
</h1>
<img src="comparison_{{ id1 }}_{{ id2 }}_alpha.png">
<img src="comparison_{{ id1 }}_{{ id2 }}_beta.png">
<img src="comparison_{{ id1 }}_{{ id2 }}_gamma.png">
<img src="comparison_{{ id1 }}_{{ id2 }}_delta.png">
</div>

<div>
<table>
{% for r in regions %}
  <tr class="{% cycle 'odd' 'even' %}">
  <td>{{ r }}</td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+prevalence+{{ r }}+1990+male.png">p M 90</a></td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+prevalence+{{ r }}+2005+male.png">p M 05</a></td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+prevalence+{{ r }}+1990+female.png">p F 90</a></td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+prevalence+{{ r }}+2005+female.png">p F 05</a></td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+incidence+{{ r }}+1990+male.png">i M 90</a></td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+incidence+{{ r }}+2005+male.png">i M 05</a></td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+incidence+{{ r }}+1990+female.png">i F 90</a></td>
  <td><a href="comparison_{{ id1 }}_{{ id2 }}_overlay+incidence+{{ r }}+2005+female.png">i F 05</a></td>
  </tr>
{% endfor %}
</table>
</div>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
