{% extends "base.html" %}

{% block title %}Disease Model {{ dm.id }} Summary{% endblock %}

{% block content %}

<div>

<div>
{% include '_model_info.html' %}
</div>

<div id="sparkplot" style="float: right; margin: 6px"/>

<h1>Sparkplots</h1>
<img src="../show/spark_{{ dm.id }}.png" usemap="#sparkmap" >
<map name="sparkmap">
  {% for r in dm.px_hash.items %}
    <area shape="rect" coords="{{ r.1 }}"
          href="../show/tile_{{ dm.id }}_{{ dm.condition }}+{{ r.0 }}.png" title="{{ r.0 }}" 
          target="_blank" />
  {% endfor %}
</map>
</div>

<div id="tables">
<h1>Amount of Data by Region and Type:</h1>
<table>
<tr class="header">
<th>Region</th>
<th>prevalence</th>
<th>incidence</th>
<th>remission</th>
<th>mortality</th>
<th>total</th>
</tr>
{% for c in counts  %}
<tr class="{% cycle 'odd' 'even' %}">
<td class="centered"><a href="/dismod/show/{{ dm.id  }}/{{ c.clean_region }}" target="_blank">{{ c.region }}</a></td>
<td class="numeric">{{ c.p }}</td>
<td class="numeric">{{ c.i }}</td>
<td class="numeric">{{ c.r }}</td>
<td class="numeric">{{ c.em }}</td>
<td class="numeric">{{ c.total }}</td>
</tr>
{% endfor %}
<tr class="total">
<td class="centered">Total</td>
<td class="numeric">{{ total.p }}</td>
<td class="numeric">{{ total.i }}</td>
<td class="numeric">{{ total.r }}</td>
<td class="numeric">{{ total.em }}</td>
<td class="numeric"></td>
</table>
</div>
<p>
<form action="/dismod/show/map_{{ dm.id }}" method=POST>
  Select Data Count Map:
  <select name=count>
    <option value="all" Selected>Total
    <option value="prevalence" >Prevalence
    <option value="incidence">Incidence
    <option value="remission">Remission
    <option value="excess-mortality">Excess-Mortality
    <option value="duration">Duration
    <option value="with-condition-mortality">With-Condition-Mortality
    <option value="relative-risk">Relative-Risk
    <option value="cause-specific-mortality">Cause-Specific-Mortality
  </select>
  <input type="submit" name="data_count" value="Show Map" />
  <br>Select Value Map:<br>
  {% if error %}
    <p style="color: red;">{{error}}</p>
  {% endif %}
  <select name=map>
    <option value="data" Selected>Data
    <option value="emp-prior">Emp-Prior
    <option value="posterior">Posterior
  </select>
  <select name=type>
    <option value="prevalence" Selected>Prevalence
    <option value="incidence">Incidence
    <option value="remission">Remission
    <option value="excess-mortality">Excess-Mortality
    <option value="duration">Duration
    <option value="with-condition-mortality">With-Condition-Mortality
    <option value="relative-risk">Relative-Risk
    <option value="incidence_x_duration">Incidence_x_Duration
    <option value="cause-specific-mortality">Cause-Specific-Mortality
  </select>
  <select name=year>
    <option value="1990" Selected>1990
    <option value="2005">2005
  </select>
  <select name=sex>
    <option value="male" Selected>Male
    <option value="female">Female
    <option value="all">All / Total
  </select>
Age
  <input type="text" name="age_from" size="1" maxlength="3" value="0" />
-
  <input type="text" name="age_to" size="2" maxlength="3" value="100" />
  <select name=weight>
    <option value="direct" Selected>Direct
    <option value="region">Weighted by Region Population
    <option value="world">Weighted by World Population
  </select>
  <select name=scheme>
    <option value="uniform" Selected>Equal Interval Length
    <option value="colorful">Fixed Group Size
  </select>
  <input type="submit" name="show" value="Show Map" />
 </table>
</form>
</div>

{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
