{% extends "base.html" %}

{% block title %}Disease Model {{ obj.id }}{% endblock %}

{% block content %}

<div>
<h1>Model #{{ obj.id }}:</h1>
{{ obj }}
[<a href="{{ obj.id }}.json">json</a>]
<br />
<img src="spark_{{ obj.id }}.png" usemap="#sparkmap" style="float: left;"/>
<map name="sparkmap">
  {% for r in obj.px_hash.items %}
    <area shape="rect" coords="{{ r.1 }}" onmouseover="show_only($('{{ r.0 }}'));"
     href="tile_{{ obj.id }}_{{ obj.condition }}+{{ r.0 }}.png" title="{{ r.0 }}" />
  {% endfor %}
</map>

{% for r in obj.px_hash.items %}
<img src="overlay_{{ obj.id }}_{{ obj.condition }}+{{ r.0 }}.png" id="{{ r.0 }}" style="display: none;"/>
{% endfor %}

<script>
function show_only(obj) {
  {% for r in obj.px_hash.items %}
  $("{{ r.0 }}").hide()
  {% endfor %}
  obj.show()
};
show_only($("all+world+total+total"));
</script>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>

<div>
<h1>Data Included:</h1>
<table>
{% for data in obj.data.all %}
<tr class="{% cycle 'odd' 'even' %}">
<td><a href="{{ data.get_absolute_url }}">{{ data.id }}.</a></td>
<td>{{ data.condition }}</td>
<td>{{ data.data_type }}</td>
<td>{{ data.region }}</td>
<td>{{ data.year_str }}</td>
<td>{{ data.get_sex_display }}</td>
<td>{{ data.age_str }}</td>
<td>{{ data.value_str }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
