{% extends "base.html" %}

{% block title %}Disease Model {{ dm.id }} {{ rate_type }} Summary{% endblock %}

{% block content %}
<div>

<div>
{% include '_model_info.html' %}
</div>

<div>
<table>
<tr class="header">
<th></th>
<th>1990</th>
<th>2005</th>
</tr>
<tr>
<td class="centered">Male</td>
<td class="centered">
<a href="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=1990&sex=male&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto">
<img src="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=1990&sex=male&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto" width=500/></a>
</td>
<td>
<a href="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=2005&sex=male&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto">
<img src="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=2005&sex=male&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto" width=500/></a>
</td>
</tr>
<tr>
<td class="centered">Female</td>
<td class="centered">
<a href="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=1990&sex=female&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto">
<img src="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=1990&sex=female&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto" width=500/></a>
</td>
<td>
<a href="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=2005&sex=female&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto">
<img src="/dismod/show/plot_selected_regions_{{ dm.id }}?all_regions=on&type={{ rate_type }}&year=2005&sex=female&grid=on&linewidth=2&xmin=0&xmax=100&ymin=0&ymax=auto" width=500/></a>
</td>
</tr>
</table>
</div>

<a href="/dismod/summary/{{ dm.id }}">back to summary</a>
</div>
{% endblock %}


{% block sidebar_wrapper %}
{% endblock %}
