{% extends "base.html" %}

{% block title %}Run Model{% endblock %}

{% block content %}

<div id="processing_panel" style="display: none">
<h1><img src="/public/spinner.gif"> Calculating age weights and updating covariates...</h1>
</div>

{% if dm.params.run_status %}
<div id="status_panel">
<h1><img src="/public/spinner.gif">
{{ dm.params.run_status }}</h1>
</div>
<meta http-equiv="refresh" content="15">
{% endif %}

<h1>Run Model <a href="/dismod/show/{{dm.id}}">{{dm.id}}</a> (<a href="/dismod/show/{{dm.condition}}">{{ dm.condition }}</a>):</h1>

<form action="/dismod/update_covariates/{{dm.id}}" method="POST" onclick="$('processing_panel').show()">
  <input type="submit" name="update" value="Calculate covariates for model data" />
</form>
<br/>
<br/>

<form action="/dismod/job_queue/add/{{dm.id}}" method="POST">
  <input type="submit" name="estimate_type" value="Estimate empirical priors" /><br>
  <input type="hidden" name="requested_by" value="run_page" />
  <a href="/dismod/show_status/{{dm.id}}?estimate_type=empirical_priors&called_by=page">Status</a>
</form>
<br/>
<br/>

<form action="/dismod/job_queue/add/{{dm.id}}" method="POST">
  Select GBD regions to estimate posteror
<table border="0" cellpadding="0">
<tr>
<td valign="top">
  <ul>
    <li><input type='checkbox' name='asia_pacific_high_income'>Asia Pacific, High Income</li>
    <li><input type='checkbox' name='asia_central'>Asia, Central</li>
    <li><input type='checkbox' name='asia_east'>Asia, East</li>
    <li><input type='checkbox' name='asia_south'>Asia, South</li>
    <li><input type='checkbox' name='asia_southeast'>Asia, Southeast</li>
    <li><input type='checkbox' name='australasia'>Australasia</li>
    <li><input type='checkbox' name='caribbean'>Caribbean</li>
  </ul>
</td>
<td valign="top">
  <ul>
    <li><input type='checkbox' name='europe_central'>Europe, Centrol</li>
    <li><input type='checkbox' name='europe_eastern'>Europe, Eastern</li>
    <li><input type='checkbox' name='europe_western'>Europe, Western</li>
    <li><input type='checkbox' name='latin_america_andean'>Latin America, Andean</li>
    <li><input type='checkbox' name='latin_america_central'>Latin America, Central</li>
    <li><input type='checkbox' name='latin_america_southern'>Latin America, Southern</li>
    <li><input type='checkbox' name='latin_america_tropical'>Latin America, Tropical</li>
  </ul>
</td>
<td valign="top">
  <ul>
    <li><input type='checkbox' name='north_africa_middle_east'>North Africa/Middle East</li>
    <li><input type='checkbox' name='north_america_high_income'>North America, High Income</li>
    <li><input type='checkbox' name='oceania'>Oceania</li>
    <li><input type='checkbox' name='sub-saharan_africa_central'>Sub-Saharan Africa, Central</li>
    <li><input type='checkbox' name='sub-saharan_africa_east'>Sub-Saharan Africa, East</li>
    <li><input type='checkbox' name='sub-saharan_africa_southern'>Sub-Saharan Africa, Southern</li>
    <li><input type='checkbox' name='sub-saharan_africa_west'>Sub-Saharan Africa, West</li>
  </ul>
</td>
</tr>
<table>
  <input type='checkbox' name='all_regions'>All Regions<br><br>
  {% if error %}
    <p style="color: red;">{{error}}</p>
  {% endif %}
  <input type="submit" name="estimate_type" value="Estimate posterior" /><br>
  <input type="hidden" name="requested_by" value="run_page" />
  <a href="/dismod/show_status/{{dm.id}}?estimate_type=posterior">Status</a>
</form>

<br/>
<br/>
<!---
<form action="/dismod/job_queue/add/{{dm.id}}" method="POST">
  <input type="submit" name="estimate_type" value="Borrow strength within each region" />
</form>

<br/>
<br/>

<form action="/dismod/job_queue/add/{{dm.id}}" method="POST">
  <input type="submit" name="estimate_type" value="Borrow strength across all regions" />
</form>
</div>

<br/>
<br/>
--->
Or run via the command line:<br/>
<code>
python gbd_fit.py {{dm.id}} [-r &lt;region&gt;] [-y &lt;year&gt;] [-s &lt;sex&gt;]
<code>


<div>
<img style="width: 100%;" src="/dismod/show/tile_{{ dm.id }}_{{ dm.condition }}+all+all+all+all.png" />
</div>

{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}

