{% extends "base.html" %}

{% block title %}Disease Model {{ dm.id }}{% endblock %}

{% block content %}

<div>
<h1>Model #{{ dm.id }}:
{{ dm }}
[<a href="{{ dm.id }}.json">json</a>]
</h1>
<img src="../show/spark_{{ dm.id }}.png" usemap="#sparkmap" 
     style="float: left"/>
<map name="sparkmap">
  {% for r in dm.px_hash.items %}
    <area shape="rect" coords="{{ r.1 }}"
          href="../show/tile_{{ dm.id }}_{{ dm.condition }}+{{ r.0 }}.png" title="{{ r.0 }}" 
          target="_blank" />
  {% endfor %}
</map>

<div id="tables">
<h1>Amount of Data by Region and Type:</h1>
<table>
<tr class="header">
<th>Region</th>
<th>prevalence</th>
<th>incidence</th>
<th>remission</th>
<th>case-fatality</th>
<th>total</th>
</tr>
{% for c in counts  %}
<tr class="{% cycle 'odd' 'even' %}">
<td class="centered"><a href="/dismod/show/{{ dm.id  }}/{{ c.clean_region }}">{{ c.region }}</a></td>
<td class="numeric">{{ c.p }}</td>
<td class="numeric">{{ c.i }}</td>
<td class="numeric">{{ c.r }}</td>
<td class="numeric">{{ c.cf }}</td>
<td class="numeric">{{ c.total }}</td>
</tr>
{% endfor %}
<tr class="total">
<td class="centered">Total</td>
<td class="numeric">{{ total.p }}</td>
<td class="numeric">{{ total.i }}</td>
<td class="numeric">{{ total.r }}</td>
<td class="numeric">{{ total.cf }}</td>
<td class="numeric"></td>
</table>
</div>

</div>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
