{% extends "base.html" %}

{% block title %}Disease Model {{ obj.id }}{% endblock %}

{% block content %}

<div>
<h1>Model #{{ obj.id }}:
{{ obj }}
[<a href="{{ obj.id }}.json">json</a>]
</h1>
<img src="spark_{{ obj.id }}.png" usemap="#sparkmap" 
     width="200" style="float: left; padding: 10px;"/>
<map name="sparkmap">
  {% for r in obj.px_hash.items %}
    <area shape="rect" coords="{{ r.1 }}" onmouseover="show_only($('{{ r.0 }}'));"
          href="tile_{{ obj.id }}_{{ obj.condition }}+{{ r.0 }}.png" title="{{ r.0 }}" 
          target="_blank" />
  {% endfor %}
</map>

<a onclick="$('overlay').show(); $('data').hide(); return false"
   href="#" class="big_link">View Plot</a>
<a onclick="$('overlay').hide(); $('data').show(); return false"
   href="#" class="big_link">View Data</a>
<a href="../data/upload/{{ obj.id }}" class="big_link">Add Data</a>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="overlay">
  {% for r in obj.px_hash.items %}
  <img src="overlay_{{ obj.id }}_{{ obj.condition }}+{{ r.0 }}.png" id="{{ r.0 }}"
       width="600" height="400" style="display: none;"/>
  {% endfor %}
</div>

<script>
function show_only(obj) {
  {% for r in obj.px_hash.items %}
  $("{{ r.0 }}").hide()
  {% endfor %}
  obj.show()
};
show_only($("all+world+total+total"));
</script>

<div style="float: left; padding-right: 16px">
Run Model:
<form action="/dismod/job_queue/add/{{obj.id}}" method="POST">
  <input type="submit" name="estimate_type" value="Fit each region-year-age individually" />
</form>

<form action="/dismod/job_queue/add/{{obj.id}}" method="POST">
  <input type="submit" name="estimate_type" value="Borrow strength within each region" />
</form>

<form action="/dismod/job_queue/add/{{obj.id}}" method="POST">
  <input type="submit" name="estimate_type" value="Borrow strength across all regions" />
</form>
</div>

<div>
<br/>
<br/>
<form action="/dismod/adjust/{{obj.id}}" method="GET">
  <input type="submit" value="Adjust Model" />
</form>

</div>

<div id="data" style="display: none;">
<br/>
<br/>
<br/>
<br/>
<h1>Data Included: [<a href="/dismod/summary/{{obj.id}}">summary</a>]</h1>
<table>
{% for data in obj.data.all %}
<tr class="{% cycle 'odd' 'even' %}">
<td><a href="{{ data.get_absolute_url }}">{{ data.id }}.</a></td>
<td>{{ data.condition }}</td>
<td>{{ data.data_type }}</td>
<td>{{ data.region }}</td>
<td>{{ data.year_str }}</td>
<td>{{ data.get_sex_display }}</td>
<td>{{ data.age_str }}</td>
<td>{{ data.value_str }}</td>
</tr>
{% endfor %}
</table>
</div>

</div>
{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
