{% extends "base.html" %}

{% block title %}Adjust Model Parameters{% endblock %}

{% block content %}

<img style="float: right;" width="800" src="/dismod/show/tile_{{ dm.id }}_{{ dm.condition }}+all+asia_southeast+2005+male.png" />

<h1>Adjust parameters for {{ dm.condition }}:</h1>
<form action="" method="POST">
<table>
    {{ form.as_table }}
</table>
<br/>
<br/>
  <input type="submit" value="Adjust Parameters" />
</form>

{% endblock %}


{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}

