DISMOD_BASE_URL = 'http://127.0.0.1:8000/'

DISMOD_LOGIN_URL = DISMOD_BASE_URL + 'accounts/login/'
DISMOD_DOWNLOAD_URL = DISMOD_BASE_URL + 'new/dm/%d.json'
DISMOD_UPLOAD_URL = DISMOD_BASE_URL + 'new/dm/new'

DISMOD_USERNAME = 'cjm'
DISMOD_PASSWORD = 'kuma'

